import request from '@/utils/request'
export function fetchList(query) {
    return request({
        url: '/admin/${tableInfo.lowerClassName}/page',
        method: 'get',
        params: query
    })
}

export function delObj(id) {
    return request({
        url: '/admin/${tableInfo.lowerClassName}/id/' + id,
        method: 'delete'
    })
}

export function getObj(id) {
    return request({
        url: '/admin/${tableInfo.lowerClassName}/id/' + id,
        method: 'get'
    })
}
export function putObj(obj) {
    return request({
        url: '/admin/${tableInfo.lowerClassName}',
        method: 'put',
        data: obj
    })
}
export function addObj(obj) {
    return request({
        url: '/admin/${tableInfo.lowerClassName}',
        method: 'post',
        data: obj
    })
}
